<h1>&nbsp;&nbsp;&nbsp;API</h1>
<div class="col-10">
	<div class="grey">
		<h2>Restful API </h2>
	</div>
<p id="col-11" class="big">Web service APIs that adhere to the REST architectural constraints are called RESTful APIs. HTTP based RESTful APIs are defined with these aspects: base URI, such as http://example.com/resources/ an Internet media type for the data.</p>
<div class="grey">
	<h3>GET</h3>
</div>
<a id="col-11" class="big" href="https://planetvapor.herokuapp.com/items.json">Item</a>
<br>
<br>
<a id="col-11" class="big" href="https://planetvapor.herokuapp.com/vendors.json">Vendor </a>
<div class="grey">
	<h3>Input</h3>
</div>
<p id="col-11" class="big">Use your favorite HTTP client tool to send a GET to the URL or click the links above. <br>
Link: https://planetvapor.herokuapp.com/items.json <br>
Link: https://planetvapor.herokuapp.com/vendors.json</p>
<div class="grey">
	<h3>Output</h3>
</div>
<p id="col-11" class="big">
	[
    { <br>
        "id": 11,
        "name": "cosmic charlie",
        "price": "6.50",
        "category": "Juice",
        "url": "https://planetvapor.herokuapp.com/items/11.json"
    },<br>
    {<br>
        "id": 12,
        "name": "high voltage",
        "price": "7.00",
        "category": "Juice",
        "url": "https://planetvapor.herokuapp.com/items/12.json"
    },<br>
    {<br>
        "id": 16,
        "name": "juice bottles",
        "price": "2.25",
        "category": "Accessories",
        "url": "https://planetvapor.herokuapp.com/items/16.json"
    },<br>
    {<br>
        "id": 17,
        "name": "kanger coils",
        "price": "0.75",
        "category": "Accessories",
        "url": "https://planetvapor.herokuapp.com/items/17.json"
    },<br>
    {<br>
        "id": 14,
        "name": "kangertech subtank",
        "price": "27.99",
        "category": "Battery",
        "url": "https://planetvapor.herokuapp.com/items/14.json"
    },<br>
    {<br>
        "id": 13,
        "name": "smy box mod",
        "price": "80.00",
        "category": "Mods",
        "url": "https://planetvapor.herokuapp.com/items/13.json"
    },<br>
    {<br>
        "id": 15,
        "name": "syringes",
        "price": "1.25",
        "category": "Accessories",
        "url": "https://planetvapor.herokuapp.com/items/15.json"
    }
]
</p>
</div>
