<h1>&nbsp;&nbsp;&nbsp;API</h1>
<div class="col-10">
	<div class="grey">
		<h2>Restful API </h2>
	</div>
<p class="big">Web service APIs that adhere to the REST architectural constraints are called RESTful APIs. HTTP based RESTful APIs are defined with these aspects: base URI, such as http://example.com/resources/ an Internet media type for the data.</p>
<div class="grey">
	<h3>GET</h3>
</div>
<a class="big" href="https://cryptic-retreat-7107.herokuapp.com/items.json">Item</a>
<br>
<br>
<a class="big" href="https://cryptic-retreat-7107.herokuapp.com/vendors.json">Vendor </a>
<div class="grey">
	<h3>Input</h3>
</div>
<p class="big">Use your favorite HTTP client tool to send a GET to the URL or click the links above. <br>
https://cryptic-retreat-7107.herokuapp.com/items.json <br>
https://cryptic-retreat-7107.herokuapp.com/vendors.json</p>
<div class="grey">
	<h3>Output</h3>
</div>
<p class="big">
</div>
