
<table id="items" class="display responsive no-wrap dataTable no-footer" role="grid" aria-describedby="items_info">
  <thead>
    <tr>
      <th>Name</th>
      <th>Thumbnail</th>
      <th>Price</th>
      <th>Category</th>
      <th>Vendor</th>
      <th>Sort</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
      <%= render @items %>
  </tbody>
</table>