/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
  */
@import "bootstrap";

body{
	background-image: url("planet.jpg");
  color: black;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.lower{
  text-transform: lowercase;
}
h4{
  font-weight: bold;
  color: black;
}
.container, .theme-showcase{
  width: 100%;
  height: 100% auto;
}
@media screen and (max-width: 600px){
.container{
  width: 100%;
  height: 100% auto;
  padding-bottom: 10px;
}

}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
}
.bs-docs-header { 
  margin: 0 auto 20px 0;
  font-size:20px;
  width: 100%;
  height: auto;
  position: relative;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
}
.bs-docs-header h1{margin-top:0;color:#fff}
.bs-docs-header p{margin-bottom:0;font-weight:300;line-height:1.4}
.bs-docs-header .container{position:relative}
@media screen and (min-width:768px){
  .bs-docs-header{
    position: relative;
    margin: 0 auto 20px 0;
    font-size:24px;
    text-align:left;
  }
}
.bs-docs-header h1{font-size:60px;line-height:1}
@media (min-width:992px){.bs-docs-header h1,
  .bs-docs-header p{width:auto;margin-right:380px}}

  .bs-docs-header,.bs-docs-masthead {    
    background-image: url("logo.jpg");
    background-size: 100% auto;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
    position: relative;
    padding-bottom: 100px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-repeat: repeat-x;
    background: cover;
    -webkit-transition: all 2s ease-out;
    transition: all 2s ease-out;
   }
   @media (max-width:730px){
  .bs-docs-header,.bs-docs-masthead {    
    background-image: url("logo.jpg");
    background-size: 100% auto;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
    position: relative;
    margin-bottom: 2px;
    padding-bottom: 100px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-repeat: repeat-x;
    background: cover;
    -webkit-transition: all 2s ease-out;
    transition: all 2s ease-out;
   }
   .container{
    margin-bottom: 10px;
   }
 }
@media (min-width:730px){
  .bs-docs-header,.bs-docs-masthead {    
    background-image: url("logo.jpg");
    background-size: 100% auto;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 120px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-repeat: repeat-x;
    background: cover;
    -webkit-transition: all 2s ease-out;
    transition: all 2s ease-out;
   }
   .container{
    margin-bottom: 5px;
   }
 }
@media (min-width:930px){
  .bs-docs-header,.bs-docs-masthead {    
    background-image: url("logo.jpg");
    background-size: 100% auto;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
    position: relative;
    margin-bottom: 2px;
    padding-bottom: 150px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-repeat: repeat-x;
    background: cover;
    -webkit-transition: all 2s ease-out;
    transition: all 2s ease-out;
   }
   .container{
    margin-bottom: 1px;
   }
 }
 @media (min-width:1020px){
  .bs-docs-header,.bs-docs-masthead {    
    background-image: url("logo.jpg");
    background-size: 100% auto;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
    position: relative;
    margin-bottom: 2px;
    padding-bottom: 170px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-repeat: repeat-x;
    background: cover;
    -webkit-transition: all 2s ease-out;
    transition: all 2s ease-out;
   }
  .container{
    margin-bottom: 1px;
   }
 }
  @media (min-width:1220px){
  .bs-docs-header,.bs-docs-masthead {    
    background-image: url("logo.jpg");
    background-size: 100% auto;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
    position: relative;
    margin-bottom: 2px;
    padding-bottom: 195px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-repeat: repeat-x;
    background: cover;
    -webkit-transition: all 2s ease-out;
    transition: all 2s ease-out;
   }
  .container{
    margin-bottom: 1px;
   }
 }
  @media (max-width:600px){
  .bs-docs-header,.bs-docs-masthead {    
    background-image: url("logo.jpg");
    background-size: 100% auto;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
    position: relative;
    margin-bottom: 2px;
    padding-bottom: 80px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-repeat: repeat-x;
    background: cover;
    -webkit-transition: all 2s ease-out;
    transition: all 2s ease-out;
   }
   .container{
    margin-bottom: 1px;
   }
  } 
 @media (max-width:470px){
  .bs-docs-header,.bs-docs-masthead {    
    background-image: url("logo.jpg");
    background-size: 100% auto;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
    position: relative;
    margin-bottom: 0px;
    padding-bottom: 60px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-repeat: repeat-x;
    background: cover;
    -webkit-transition: all 2s ease-out;
    transition: all 2s ease-out;
   }
   .container{
    margin-bottom: 2px;
   }
 }
 @media (max-width:370px){
  .bs-docs-header,.bs-docs-masthead {    
    background-image: url("logo.jpg");
    background-size: 100% auto;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
    position: relative;
    margin-bottom: 0px;
    padding-bottom: 50px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-repeat: repeat-x;
    background: cover;
    -webkit-transition: all 2s ease-out;
    transition: all 2s ease-out;
   }
   .container{
    margin-bottom: 2px;
   }
 }




@media only screen and (max-width: 800px) {
  #no-more-tables {
    font-size: 12px; 
  } 
  td{
    font-size: 10px;
  }
  a{
    font-size: 11px;
  }
  .btn-default{
    font-size: 11px;
  }
  .btn-xs{
    font-size: 11px;
  }
}


@media only screen and (max-width: 600px) {
    
    /* Force table to not be like tables anymore */
  #no-more-tables table, 
  #no-more-tables thead, 
  #no-more-tables tbody, 
  #no-more-tables th, 
  #no-more-tables td, 
  #no-more-tables tr { 
    display: block; 
    font-size: 14px;
  }
  .btn-default{
    font-size: 14px;
  }
 
  /* Hide table headers (but not display: none;, for accessibility) */
  #no-more-tables thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  #no-more-tables thead{
    width: 10000%;
    color: blue;
  }
 
  #no-more-tables tr { border: 1px solid #ccc; }
 
  #no-more-tables td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
    white-space: normal;
    text-align:left;
  }
 
  #no-more-tables td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
    text-align:left;
    font-weight: bold;
  }
 
  /*
  Label the data
  */
  #no-more-tables td:before { content: attr(data-title); width: 10px; color:blue;}
}


.button{
  background-color: green;
  padding: 5px 10px 5px 10px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: none;
}
.btn-default:hover{
  background-color: #01A9DB;
}
.sort_link{
  text-decoration: underline;
}
.sort_link:hover{
  background-color: blue;
}
thead{
  background-color: #3c54e7;
}
th{
  font-weight: bold;
  color: black;
}
h1{
  font-weight: bold;
}
a:link{
  color:black;
}
a:visited{
  color:black;
}
/*
select{
  width: 33%;
  height: 26px;
}*/

.close{
  color:red;
}
.close:hover{
  color: red;
}
.jumbotron{
  min-height: 195px;
}

#main{
  background-color: white;
  border-radius: 10px;
  padding: 10px 10px 20px 10px;
  width: 100%;
}
.navbar-fixed-top{
  height:50px;
}
.navbar-default {
  width: 100%;
  position:relative;
  background-color: #3c54e7;
  border-color: #3c54e7;
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin-bottom: 0px;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: black;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: black;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: black;
  background-color: #2b95c0;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: black;
  background-color: #2b95c0;
}
.navbar-default .navbar-toggle {
  border-color: #2b95c0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #2b95c0;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}

.collapse {
  color: #2b95c0;
  border-color: #3c54e7;

}

.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffbbbc;
}


@media (max-width: 767px) {
  .navbar-default .container .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffbbbc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background-color: #2b95c0;
  }
  #bs-example-navbar-collapse-1{
    background-color: #3c54e7;
  }
}
#myModal{
  float: right;
  top: 16px;
  color: black;
}
.modal-dialog{
  position: relative;
  padding: 10px 10px 10px 10px;
}
.modal-content{
  background-color: #01A9DB;
  padding: 10px 10px 10px 10px;
}
.modal-open {
overflow: hidden;
}
/* add a scroll bar to stop page from jerking around */
.modal-open.page-overflow .page-container,
.modal-open.page-overflow .page-container .navbar-fixed-top,
.modal-open.page-overflow .page-container .navbar-fixed-bottom,
.modal-open.page-overflow .modal-scrollable {
overflow-y: scroll;
}

.modal-scrollable {
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
overflow: auto;
}
.modal {
outline: none;

margin-top: 0;
top: 50%;
overflow: visible; /* allow content to popup out (i.e tooltips) */
}
.modal.fade {
top: -100%;
-webkit-transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out;
-moz-transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out;
-o-transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out;
transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out;
}
.modal.fade.in {
top: 50%;
}
.modal-body {
max-height: none;
overflow: visible;
}
.modal.modal-absolute {

z-index: 950;
}
.modal .loading-mask {

top: 0;
bottom: 0;
left: 0;
right: 0;
background: #fff;
border-radius: 6px;
}
.modal-backdrop.modal-absolute{

z-index: 1000;
}
.modal-backdrop,
.modal-backdrop.fade.in{
opacity: 0.7;
filter: alpha(opacity=90);
background: #fff;
}
.modal.container {
width: 940px;
margin-left: -470px;
}
/* Modal Overflow */
.modal-overflow.modal {
top: 1%;
}
.modal-overflow.modal.fade {
top: -100%;
}
.modal-overflow.modal.fade.in {
top: 1%;
}
.modal-overflow .modal-body {
overflow: auto;
-webkit-overflow-scrolling: touch;
}
.modal-dialog {
    position: absolute;
    top: 5%;
    left: 25%;
}
  .modal-dialog-center { /* Edited classname 10/03/2014 */
    width: 100%;
  }

/* Responsive */
@media (min-width: 1200px) {
.modal.container {
width: 1170px;
margin-left: -585px;
}
}
@media (max-width: 800px) {
  .modal-dialog-center { /* Edited classname 10/03/2014 */
    width: 100%;
  }
.modal-body { 
    height: 60%; 
}
} 
@media (max-width: 979px) {
.modal-open.page-overflow .page-container .navbar-fixed-top,
.modal-open.page-overflow .page-container .navbar-fixed-bottom {
overflow-y: visible;
}
}
@media (max-width: 480px) {
  .modal{
    width: 370px;
    height: 500px;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-top: -25px;
    margin-left: -250px;
    padding: 20px;
  }
}
.loading-spinner {
position: absolute;
top: 50%;
left: 50%;
margin: -12px 0 0 -12px;
}
/*
Animate.css - http://daneden.me/animate
Licensed under the ☺ license (http://licence.visualidiot.com/)
Copyright (c) 2012 Dan Eden*/
.animated {
-webkit-animation-duration: 1s;
-moz-animation-duration: 1s;
-o-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
-moz-animation-fill-mode: both;
-o-animation-fill-mode: both;
animation-fill-mode: both;
}
@-webkit-keyframes shake {
0%, 100% {-webkit-transform: translateX(0);}
10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}
@-moz-keyframes shake {
0%, 100% {-moz-transform: translateX(0);}
10%, 30%, 50%, 70%, 90% {-moz-transform: translateX(-10px);}
20%, 40%, 60%, 80% {-moz-transform: translateX(10px);}
}
@-o-keyframes shake {
0%, 100% {-o-transform: translateX(0);}
10%, 30%, 50%, 70%, 90% {-o-transform: translateX(-10px);}
20%, 40%, 60%, 80% {-o-transform: translateX(10px);}
}
@keyframes shake {
0%, 100% {transform: translateX(0);}
10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
20%, 40%, 60%, 80% {transform: translateX(10px);}
}
.shake {
-webkit-animation-name: shake;
-moz-animation-name: shake;
-o-animation-name: shake;
animation-name: shake;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
      border-color: rgba(82,168,236,.8);
    outline: 0;
    outline: thin dotted \9;
    -moz-box-shadow: 0 0 8px rgba(82,168,236,.6);
    box-shadow: 0 0 8px rgba(82,168,236,.6) !important;
}


@media only screen and (max-width: 1000px) {
  #no-more-table {
    font-size: 12px; 
  } 
  td{
    font-size: 10px;
  }
  a{
    font-size: 11px;
  }
  .btn-default{
    font-size: 11px;
  }
  .btn-xs{
    font-size: 11px;
  }
}


@media only screen and (max-width: 750px) {
    
    /* Force table to not be like tables anymore */
  #no-more-table table, 
  #no-more-table thead, 
  #no-more-table tbody, 
  #no-more-table th, 
  #no-more-table td, 
  #no-more-table tr { 
    display: block; 
    font-size: 14px;
  }
        .btn-default{
    font-size: 14px;
  }
 
  /* Hide table headers (but not display: none;, for accessibility) */
  #no-more-table thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  #no-more-table thead{
        width: 10000%;
    color: blue;
  }
 
  #no-more-table tr { border: 1px solid #ccc; }
 
  #no-more-table td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
    white-space: normal;
    text-align:left;
  }
 
  #no-more-table td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
    text-align:left;
    font-weight: bold;
  }
 
  /*
  Label the data
  */
  #no-more-table td:before { content: attr(data-title); width: 10px; color:blue;}
}
